{% extends "BackendBundle::backend.html.twig" %}

{% block menu_horizontal %}
    {% include 'BackendBundle:Default:menu_horizontal.html.twig' with {'pagina': 'publicacion'} %}
{% endblock %}

{% block siderbar %}  
    {% include 'BackendBundle:Default:siderbar.html.twig' with {'pagina': entity.categoria.slug} %}
{% endblock %}    

{% block body %}
<h1>Publicacion "{{ entity.tituloEn }} / {{ entity.tituloEs }}"</h1>

<table class="record_properties table table-bordered">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Titulo Ingles</th>
            <td>{{ entity.tituloEn }}</td>
        </tr>
        <tr>
            <th>Titulo Español</th>
            <td>{{ entity.tituloEs }}</td>
        </tr>
        <tr>
            <th>Descripcion Ingles</th>
            <td>{{ entity.descripcionEn | raw }}</td>
        </tr>
        <tr>
            <th>Descripcion Español</th>
            <td>{{ entity.descripcionEs | raw }}</td>
        </tr>
        {% if entity.archivo | length > 0 %}
        <tr>
            <th>Imagen</th>
            <td><img src="{{entity.webPath | apply_filter('platillos_imagen')}}"/></td>
        </tr>
        <tr>
            <th>Thumbnail</th>
            <td><img src="{{ entity.ThumbnailWebPath }}" /></td>
        </tr>
        {% endif %}
        <tr>
            <th>Posicion</th>
            <td>{{ entity.posicion }}</td>
        </tr>
        <tr>
            <th>Activo</th>
            <td>{{ entity.isactive | isActive | raw }}</td>
        </tr>
        <tr>
            <th>Creado</th>
            <td>{{ entity.createdat|date('d/m/Y H:i') }}</td>
        </tr>
        <tr>
            <th>Actualizado</th>
            <td>{{ entity.updatedat|date('d/m/Y H:i') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions nav nav-pills">
        <li>
            <button class="btn" onclick="location.href='{{ path('publicacion') }}'">
                Regresar
            </button>
        </li>
        <li>&nbsp;</li>
        <li>
            <button class="btn btn-success" onclick="location.href='{{ path('publicacion_edit', { 'id': entity.id }) }}'">
                Editar
            </button>
        </li>
        <li>&nbsp;</li>
        <li>
            <form action="{{ path('publicacion_delete', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(delete_form) }}
                    <button class="btn btn-danger" type="submit">Eliminar</button>
            </form>
        </li>
</ul>
{% endblock %}