{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
 {{parent()}}
{% endblock %}

{% block body %}
<article id="home-article-principal">
    <header>
        <hgroup>
            <h1>Interactive Valley</h1>	
            <h2>Interactive Media Desing & Development</h2>
        </hgroup>
    </header>
    <div class="contenido-article">
        Interactive Valley is a highly experienced team of passionate creatives and coders constantly on the search for challenges to push the experience across digital channels - web, mobile and installations - empowering audiences to connect and share. 
    </div>
    <div id="galeria-principal">
        <figure id="ctl-left">
            <img src="{{ asset('images/keyarts/home/home_leftarrow.png') }}" alt="Left">
        </figure>
        <div id="contenido-galeria">
            <span class="titulogaleria">
                who we are
            </span>
            <ul class="slider">
                <li>
                    <figure>
                        <img src="{{ asset('images/demo/img_1.jpg') }}" alt="algun dato">
                        <figcaption>
                            titulo
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{{ asset('images/demo/img_2.jpg') }}" alt="algun dato">
                        <figcaption>
                            titulo
                        </figcaption>
                    </figure>
                </li>
                <li>
                    <figure>
                        <img src="{{asset('images/demo/img_3.jpg')}}" alt="algun dato">
                        <figcaption>
                            titulo
                        </figcaption>
                    </figure>
                </li>
            </ul>
        </div>
        <figure id="ctl-right">
            <img src="{{asset('images/keyarts/home/home_rightarrow.png')}}" alt="Right">
        </figure>
    </div>
</article>
<article  id="home-article-secundario">
    <header>
        &nbsp;
    </header>
    <div class="contenido-article marginTop60">
        <p>
        <h3>contact</h3>
        <div>
            <a href="mailto:hello@interactivevalley.com">hello@interactivevalley.com</a>
        </div>
        </p>
    </div>
    <div class="contenido-article marginTop30">
        <p>
        <h3>inquires & opportunities</h3>
        <div>
            Interactive Valley is always looking for new opportunities to collaborate with partners on projects under development, or planning new ways to implement interactive media.<br/> Please contact us to discuss new opportunities for collaboration.
        </div>
        </p> 
    </div>
    <footer>
        <p>
        <h3>paterns <img src="{{asset('images/keyarts/home/macro-pano.png')}}" alt="Macro-pano.com"></h3>
        </p>
    </footer>
</article>

{% endblock %}
{% block javascripts %}
    {{parent()}}
<script>
    $(document).ready(function(){
        var setSizeArticlesPrimeroSegundo=function() { 
          var myHeight = 0; 
          if( typeof( window.innerHeight ) == 'number' ) { 
            //No-IE 
            myHeight = window.innerHeight; 
          } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) { 
            //IE 6+ 
            myHeight = document.documentElement.clientHeight; 
          } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) { 
            //IE 4 compatible 
            myHeight = document.body.clientHeight; 
          } 
          $("#home-article-principal").css({'min-height':(myHeight-40)+'px'});
          $("#home-article-secundario").css({'min-height':(myHeight-40)+'px'});
        }

        setSizeArticlesPrimeroSegundo();
    });
</script>
{% endblock %}