{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
 {{parent()}}
<style red="stylesheets" type="text/css">
   ul.slider{
     margin 0;  
   }
</style>
{% endblock %}

{% block body %}
<article id="home-article-principal">
    <header> 
        <img src="../images/keyarts/home/interactivevalley-logo.png" alt="">
    </header>
    <div class="contenido-article">
         Interactive Valley is a highly experienced<br/>
        team of passionate creatives and coders<br/>
        constantly on the search for challenges<br/>
        to push the experience across<br/>
         digital channels—web, mobile, and <br/>
        installations—empowering audiences to<br/>
        connect and share.<br/>


    </div>
    <div id="galeria-principal">
        <span class="titulogaleria">Who we are</span>
        <div id="contenido-galeria">
            <figure id="ctl-left"></figure>
            <ul class="slider">
                {% for galeria in galerias %}
                <li>
                    <figure>
                        <img src="{{ galeria.webPath | apply_filter('galeria_principal')  }}" alt="{{galeria.titulo}}">
                    </figure>
                </li>
                {% endfor %}
            </ul>
            <figure id="ctl-right"></figure>
        </div>
        <span class="slogan">"Pixeles traverls faster than words..."</span>
    </div>
</article>
<article  id="home-article-secundario">
    <div class="contenido-article marginTop310">
        <p>
        <h3>contact</h3>
        <div class="align-left">
            <a href="mailto:hello@interactivevalley.com">hello@interactivevalley.com</a>
        </div>
        </p>
    </div>
    <div class="contenido-article marginTop126">
        <p>
        <h3>inquires & opportunities</h3>
        <div class="align-left">
            Interactive Valley is always looking for new opportunities to collaborate with partners on projects under development, or planning new ways to implement interactive media.<br/> Please contact us to discuss new opportunities for collaboration.
        </div>
        </p> 
    </div>
    <footer>
        <p>
        <h3>paterns <img src="{{asset('images/keyarts/home/macro-pano.png')}}" alt="Macro-pano.com"></h3>
        </p>
    </footer>
</article>

{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript" src="{{asset('js/jquery.bxslider.min.js')}}"></script>
<script>
    $(document).ready(function(){
        var setSizeArticlesPrimeroSegundo=function() { 
          var myHeight = 0; 
          var valorOverflow = "hidden";
          if( typeof( window.innerHeight ) == 'number' ) { 
            //No-IE 
            myHeight = window.innerHeight; 
          } else if( document.documentElement && ( document.documentElement.clientWidth || document.documentElement.clientHeight ) ) { 
            //IE 6+ 
            myHeight = document.documentElement.clientHeight; 
          } else if( document.body && ( document.body.clientWidth || document.body.clientHeight ) ) { 
            //IE 4 compatible 
            myHeight = document.body.clientHeight; 
          } 
          
          if(myHeight < 700){
              valorOverflow ="auto";          
          }else{
              valorOverflow = "hidden";
          }

          $("#home-article-principal").css({
            'min-height':(myHeight)+'px','overflow':valorOverflow
          });
          $("#home-article-secundario").css({
            'min-height':(myHeight)+'px','overflow':valorOverflow
          });
         
        }

        setSizeArticlesPrimeroSegundo();

        $('ul.slider').bxSlider({
           slideWidth: 384,
           minSlides: 1,
           maxSlides: 1,
           slideMargin: 5,
           nextSelector: '#ctl-right',
           prevSelector: '#ctl-left',
           nextText: '&nbsp;',
           prevText: '&nbsp;',
           pager:false
         });
        
        $(window).resize(function(){
          setSizeArticlesPrimeroSegundo();
        });

    });
</script>
{% endblock %}