{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
 {{parent()}}
{% endblock %}

{% block texto_menu %}
<span class="show-all">show all</span><br>
<span class="featured">featured</span><br>	
<span class="search">search</span><br>
{% endblock %}

{% block body %}
<article id="proyectos-article">
    <header>
        <div id="titulos-proyectos">
            Work 
            <img src="{{asset('images/keyarts/works/diagonal_header.png')}}" alt="Left"> All
        </div>
        <div id="controles-proyectos">
            <span class="ctl-left">&nbsp;</span>
            <span class="ctl-right">&nbsp;</span>
        </div>
        <div id="visualizar-proyectos">
            <span class="vcells active">&nbsp;</span>
            <span class="vsingle">&nbsp;</span>
        </div>
    </header>
    <div class="proyectos">
        <ul class="lista-proyectos">
            {% for pg in pgs %}
            <li class="proyecto">
                <figure>
                    <a href="{{path('proyectos_show',{'id':pg.proyecto.id})}}">
                        <img src="{{pg.galeria.galerias[0].thumbnailWebPath}}" alt="{{pg.proyecto.titulo}}">
                    </a>
                </figure>
                <div class="contenido-proyecto">
                    <h4>{{pg.proyecto.titulo}}</h4>
                    <h5>{{pg.proyecto.cliente}}</h5>
                    {{pg.proyecto.descripcionCorta | raw }}
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <footer>
        &nbsp;
    </footer>
</article>
{% endblock %}
{% block javascripts %}
    {{parent()}}
<script>
    var posicionProyectos = 0;
    var proyectos = {{pgs | length }};
    var contProyectos = 2;
    $(document).on("ready", function() {
        $(".ctl-left").on("click", function() {
            if (contProyectos > 2) {
                $("ul.lista-proyectos").animate({'left': '+=336px'}, "slow");
                posicionProyectos += 336;
                contProyectos -= 2;
            }
        });
        $(".ctl-right").on("click", function() {
            if (contProyectos < proyectos) {
                $("ul.lista-proyectos").animate({'left': '-=336px'}, "slow");
                posicionProyectos -= 336;
                contProyectos += 2;
            }
        });
    });
</script>
{% endblock %}