{% extends "FrontendBundle::layout.html.twig" %}

{% block stylesheets %}
 {{parent()}}
{% endblock %}

{% block texto_menu %}
<span class="show-all">show all</span><br>
<span class="featured">featured</span><br>	
<span class="search">search</span><br>
{% endblock %}

{% block ctl_visualizar_menu %}
    <span class="ctl-visualizar-menu">
        &nbsp;
    </span>
{% endblock %}

{% block body %}
<article id="proyectos-article">
    <header>
        <div id="titulos-proyectos">
            Work 
            <img src="{{asset('images/keyarts/works/diagonal_header.png')}}" alt="Left">
            {{pg.proyecto.cliente}}
        </div>
        <div id="controles-proyectos">
            <span class="ctl-left">&nbsp;</span>
            <span class="ctl-right">&nbsp;</span>
        </div>
        <div id="visualizar-proyectos">
            <span class="vcells">&nbsp;</span>
            <span class="vsingle active">&nbsp;</span>
        </div>
    </header>
    <div class="proyecto-single">
        <span class="ctl-galeria-left ctl-galeria">&nbsp;</span>    
        <span class="ctl-galeria-right ctl-galeria">&nbsp;</span>
        <ul class="proyecto-galeria-lista">
            {% for galeria in pg.galeria.galerias %}
            <li>
                <figure><img src="{{ galeria.webPath | apply_filter('publicaciones_galeria')  }}" alt="{{galeria.titulo}}"></figure>
            </li>
            {% endfor %}
        </ul>
        <div class="proyecto-contenido">
            <h1>{{pg.proyecto.titulo}}</h1>
            <div class="detalles-proyecto client">
                <div class="header-detalles-proyecto">
                    {% if pg.proyecto.cliente | length > 0 %}
                    <h3>Client</h3>
                    <span>{{pg.proyecto.cliente}}</span>
                    {% endif %}
                    {% if pg.proyecto.fecha | length > 0 %}
                    <h3>Date</h3>
                    <span>{{pg.proyecto.fecha | date('M, Y')}}</span>	
                    {% endif %}
                    {% if pg.proyecto.location | length > 0 %}
                    <h3>Location</h3>
                    <span>{{pg.proyecto.location}}</span>
                    {% endif %}
                </div>
                <div class="body-detalles-proyecto">
                   {{pg.proyecto.descripcion | raw }} 
                </div>
            </div>
        </div>
    </div>
    <footer>
        &nbsp;
    </footer>
</article>
{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript" src="{{asset('js/jquery.nicescroll.min.js')}}"></script>
<script>
    $(document).ready(function() {
        var numImagenes = {{pg.galeria.galerias | length }};
        var contador = 1;
        $(".ctl-galeria-right").on("click", function() {
            if (numImagenes > contador) {
                $("ul.proyecto-galeria-lista").animate({'left': '-=775px'}, "slow", "easeOutCirc");
                contador++;
            }
        });
        $(".ctl-galeria-left").on("click", function() {
            if (contador > 1) {
                $("ul.proyecto-galeria-lista").animate({'left': '+=775px'}, "slow", "easeOutCirc");
                contador--;
            }
        });
        var setSizeProyectoContenido = function() {
            var myHeight = 0;
            if (typeof (window.innerHeight) == 'number') {
                //No-IE 
                myHeight = window.innerHeight;
            } else if (document.documentElement && (document.documentElement.clientWidth || document.documentElement.clientHeight)) {
                //IE 6+ 
                myHeight = document.documentElement.clientHeight;
            } else if (document.body && (document.body.clientWidth || document.body.clientHeight)) {
                //IE 4 compatible 
                myHeight = document.body.clientHeight;
            }
            $(".proyecto-contenido").css({'height': (myHeight - 470) + 'px'});
        }

        setSizeProyectoContenido();

        $(".ctl-visualizar-menu").click();

        $(".proyecto-single").niceScroll();

    });
</script>
{% endblock %}